// Paleta de colores (SCSS Variables)
$color-primary: #3dcd99;
$color-secondary: #3b3b58;
$color-background: #0f152c;
$color-surface: #15233c;
$color-text: #ffffff;

// Fuentes
$font-family-base: 'Poppins', sans-serif;

// Gradientes
$gradient-main: linear-gradient(180deg, $color-background 0%, $color-surface 50%, $color-background 100%);
$gradient-primary: linear-gradient(135deg, $color-primary, #14b8a6);
