@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gastify-dark);
  color: var(--gastify-light);
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}
