<div class="container">
  <div class="main">
    <app-page-title title="Seguridad" (back)="goBack()"></app-page-title>

    <div class="list">
      <button class="item" (click)="openPin()">
        <div class="left">
          <i class="mdi mdi-lock-outline icon"></i>
          <span class="label">PIN</span>
        </div>
        <i class="mdi mdi-chevron-right more"></i>
      </button>

      <button class="item" (click)="openPolicies()">
        <div class="left">
          <i class="mdi mdi-file-document-outline icon"></i>
          <span class="label">Políticas y acuerdos</span>
        </div>
        <i class="mdi mdi-chevron-right more"></i>
      </button>
    </div>
  </div>
</div>


