<div class="container">
  <div class="main">
    <app-page-title title="Seguridad" (back)="goBack()"></app-page-title>

    <div class="list">
      <button class="item" (click)="openPin()">
        <div class="left">
          <span class="icon">🔒</span>
          <span class="label">PIN</span>
        </div>
        <span class="more">›</span>
      </button>

      <button class="item" (click)="openPolicies()">
        <div class="left">
          <span class="icon">💾</span>
          <span class="label">Politicas y acuerdos</span>
        </div>
        <span class="more">›</span>
      </button>
    </div>
  </div>
</div>


