<!-- Header -->
<header class="header">
  <div class="header-left">
    <app-sidebar #sidebar (close)="sidebar.closeMenu()" (logoutEvent)="logout()"></app-sidebar>
    <button class="menu-btn" (click)="sidebar.toggleMenu()">
      <i class="mdi mdi-menu"></i>
    </button>
  </div>
  

   <img class="app-logo" src="../../../assets/images/gastifyLogo.png" alt="Gastify">

  <div class="header-right">
    <button class="notification-btn" (click)="openNotifications()">
      <i class="mdi mdi-bell"></i>
    </button>
    <button class="profile-btn" (click)="openProfile()">
      <i class="mdi mdi-account-circle"></i>
    </button>
  </div>
</header>