<div class="container">
  <div class="main">
  <div class="categories-container">
    <div class="tabs" role="tablist">
    <button class="tab left" [class.active]="activeTab === 'Ingreso'" (click)="setTab('Ingreso')" role="tab" [attr.aria-selected]="activeTab==='Ingreso'">Ingreso</button>
    <button class="tab right" [class.active]="activeTab === 'Gasto'" (click)="setTab('Gasto')" role="tab" [attr.aria-selected]="activeTab==='Gasto'">Gasto</button>
    </div>

    <div class="grid">
      <div class="item" *ngFor="let cat of categoriesToShow">
        <div class="icon" [ngStyle]="{ 'background-color': cat.color, color: cat.iconColor }">
          <i class="mdi" [ngClass]="cat.icon"></i>
        </div>
        <div class="label">{{ cat.name }}</div>
      </div>
    </div>
  </div>
</div>


