<main class="main-container">
  <div class="content-box">
    <h1 class="page-title">Página de Prueba de Gastos</h1>

    <!-- Botón para abrir el modal -->
    <button (click)="openModal()" class="action-button">
      Abrir Modal para Agregar Gasto
    </button>
    <button (click)="openModal()" class="action-button">
      Get all categorias
    </button>
  </div>

  <!-- El modal se muestra solo si la variable isModalVisible es true -->
  <app-add-gasto-modal *ngIf="isModalVisible" (closeModal)="closeModal()" (saveGasto)="saveGasto($event)">
  </app-add-gasto-modal>

  <!-- Aquí podrías mostrar un mensaje de confirmación después de guardar -->
  <div *ngIf="gastoGuardado" class="confirmation-message">
    ¡Gasto guardado con éxito!
  </div>
</main>